[submodule "components/micro_ros_espidf"]
	path = components/micro_ros_espidf
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
